body {
  padding: 0;
  margin: 0;
  font-family: proxima-nova,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

header {
  font-family: "Gabriela",serif;
  color: #000;
  padding: 20px 0 0;
  border-bottom: 1px solid #333;
  margin-bottom: 50px;
}

h1 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #333;
}

.content, header, footer {
  width: 960px;
}

footer {
  margin: 100px auto 50px;
  text-align: center;
}

.content {
  margin: 0 auto;
  font-size: 1.5em;
}

.container {
  max-width: 55.55556rem;
  margin: 0px auto;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

ul.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.post-list li a {
  font-weight: normal;
  padding-bottom: 4px;
}

ul.post-list li:hover {
  color: highlight;
}

ul.post-list li {
  padding: 10px 5px 10px 5px;
}

p {
  line-height: 1.4em;
}

td {
  border-bottom:1px solid #fff;
  color: #333;
  border-top:1px solid transparent;
  padding: 8px;
}

tbody tr:hover td{
  color:#339;
  background:#fff;
}

thead td {
  border: 1px solid #333;
}
