body {
  padding: 0;
  margin: 0;
  font-family: proxima-nova,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

header {
  font-family: "Gabriela",serif;
  text-align: center;
  background: #774F9F;
  color: #ffffff;
  padding: 40px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 1.5em;
}

.container {
  max-width: 55.55556rem;
  margin: 40px auto;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

ul.post-list {
  list-style: none;
}

ul.post-list li a {
  text-decoration:none;
  font-weight: normal;
}

ul.post-list li {
 padding: 10px 5px 10px 5px;

}

hr {
  border: 0px;
  height: 1px;
  background-color: #BBA7CF;
}

ul.post-list li a:hover {
  color: purple;

}
